/* Import czcionki Inter z Google Fonts */
/* 1. Import głównej czcionki (Inter) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* 2. Import TWOJEJ własnej czcionki dla Logo */
/* Musisz wrzucić plik czcionki do folderu: public/fonts/TwojaCzcionka.ttf */
@font-face {
    font-family: 'LogoFont';
    src: url('/public/fonts/TwojaCzcionka.ttf') format('truetype');
    /* Jeśli masz plik .woff to: url('/public/fonts/TwojaCzcionka.woff') format('woff'); */
}

:root {
    --bg-dark: #0F172A;
    --bg-card: #1E293B;
    --accent-neon: #3DDFFF;
    --accent-hover: #0EA5E9;
    --text-white: #F8FAFC;
    --text-gray: #94A3B8;
    --input-border: #334155;
}

body {
    margin: 0;
    padding: 0;
    /* Inter dla całej strony */
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-dark); /* Tu jest ten granat! */
    color: var(--text-white);
}



* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--accent-neon);
    transition: color 0.2s;
    font-weight: 600;
}

a:hover {
    color: var(--accent-hover);
}